@{
    ViewData["Title"] = "Calendar";
}

<div id="calendar"></div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const calendarEl = document.getElementById('calendar');
            if (!calendarEl) return;

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                slotMinTime: "06:00:00",
                slotMaxTime: "22:00:00",
                nowIndicator: true,
                editable: true,
                selectable: true,
                height: "auto",
                events: '/TaskItems/GetCalendarEvents',
                as
                select: function (info) {
                    window.location.href =
                        `/TaskItems/Create?start=${info.startStr}&end=${info.endStr}`;
                },

                eventClick: function (info) {
                    window.location.href = `/TaskItems/Edit/${info.event.id}`;
                },

                eventDrop: function (info) {
                    updateTaskTime(info.event);
                },

                eventResize: function (info) {
                    updateTaskTime(info.event);
                }
            });

            calendar.render();
        });

                var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            events: '/TaskItems/GetCalendarEvents',

            eventDidMount: function (info) {
                const tooltipContent = `
                    <strong>${info.event.title}</strong><br/>
                    Status: ${info.event.extendedProps.status}<br/>
                    Time Taken: ${info.event.extendedProps.timeTaken || "Not set"}<br/>
                    ${info.event.extendedProps.description || ""}
                `;

                new bootstrap.Tooltip(info.el, {
                    title: tooltipContent,
                    html: true,
                    placement: "top",
                    trigger: "hover",
                    container: "body"
                });
            }
        });

    </script>
}
